<div class="header">
    <div class="nav-bar">
        <ul class="list-inline">
            <li class="list-inline-item">
                <img class="header-logo" src="../../../assets/images/header_Logo.png">
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <h3>Topics</h3>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <h3>Blog</h3>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <h3>Topics</h3>
                </a>
            </li>

        </ul>
    </div>
    <div class="login-register-nav">

    </div>


</div>